.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  .left_side {
    display: flex;
    align-items: center;
    gap: 15px;
    .options {
      display: flex;
      gap: 5px;
      button {
        color: #202124;
        font-size: 14px;
        border-radius: 4px;
        padding: 2px 5px;
        border: none;
        background-color: transparent;
        &:hover {
          background-color: #e8ebee;
        }
      }
    }
  }
  .right_side {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
