.container {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  margin: 30px 0px;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    span {
      color: #202124;
      font-size: 24px;
      &:last-child {
        font-size: 16px;
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    input {
      height: 46px;
    }
    .cta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      margin-top: 20px;
      a {
        color: #1a73e8;
        font-size: 14px;
        font-family: "Open-Sans-Medium", sans-serif;
      }
      button {
        background-color: #1a73e8;
        color: white;
        width: 90px;
        height: 36px;
        font-family: "Open-Sans-Medium", sans-serif;
        border: none;
        border-radius: 4px;
      }
    }
  }
}
