.container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: var(--typing-bar-height);
  padding: 0px 10px;
  .id_field {
    width: 100px;
    input {
      border: none;
      border-radius: 2px;
      outline: none;
      width: 100%;
      padding: 0px 7px;
      background-color: transparent;
      &:hover {
        background-color: #ededed;
      }
      &:focus {
        border: 2px solid #0b57d0;
      }
    }
  }
  .content_field {
    display: flex;
    align-items: center;
    width: 100%;
    i {
      color: #a8a9a9;
    }
    input {
      width: 100%;
      border: none;
      padding: 0px 15px;
      outline: none;
      background-color: transparent;
    }
  }
  .seperator {
    width: 2px;
    background-color: #dadce0;
    height: 50%;
    border: none;
  }
}
