[class^="icon"] {
  position: relative;
  display: block;
  overflow: hidden;
  &::before {
    content: url("/sprite.svg");
    position: absolute;
  }
}

.icon-logo {
  width: 36px;
  height: 36px;
  &::before {
    left: -44px;
    top: -2192px;
  }
}

.icon-star {
  width: 20px;
  height: 20px;
  &::before {
    left: -20px;
    top: -230px;
  }
}

.icon-move {
  width: 20px;
  height: 20px;
  &::before {
    left: -60px;
    top: -8364px;
  }
}

.icon-status {
  width: 20px;
  height: 20px;
  &::before {
    left: 0;
    top: -2768px;
  }
}

.icon-history {
  width: 24px;
  height: 24px;
  &::before {
    left: -46px;
    top: -1128px;
  }
}

.icon-comment {
  width: 24px;
  height: 24px;
  &::before {
    left: -52px;
    top: -4974px;
  }
}

.icon-meet {
  width: 24px;
  height: 24px;
  &::before {
    left: -22px;
    top: -5042px;
  }
}

.icon-arrow-down {
  width: 20px;
  height: 20px;
  &::before {
    left: 0;
    top: -10816px;
  }
}

.icon-spreadsheet-black {
  width: 18px;
  height: 18px;
  &::before {
    left: -20px;
    top: -2956px;
  }
}

.icon-folder {
  width: 18px;
  height: 18px;
  &::before {
    left: -48px;
    top: -4528px;
  }
}

.icon-import {
  width: 18px;
  height: 18px;
  &::before {
    left: 0;
    top: -11052px;
  }
}

.icon-copy {
  width: 18px;
  height: 18px;
  &::before {
    left: -20px;
    top: -6874px;
  }
}

.icon-add-person {
  width: 18px;
  height: 18px;
  &::before {
    left: -20px;
    top: -3388px;
  }
}

.icon-email-outline {
  width: 18px;
  height: 18px;
  &::before {
    left: -48px;
    top: -12546px;
  }
}

.icon-download {
  width: 18px;
  height: 18px;
  &::before {
    left: 0;
    top: -2402px;
  }
}

.icon-rename {
  width: 18px;
  height: 18px;
  &::before {
    left: -40px;
    top: -6050px;
  }
}

.icon-add-to-drive {
  width: 18px;
  height: 18px;
  &::before {
    left: -48px;
    top: -12524px;
  }
}

.icon-trash {
  width: 18px;
  height: 18px;
  &::before {
    left: 0;
    top: -230px;
  }
}

.icon-info {
  width: 18px;
  height: 18px;
  &::before {
    left: -52px;
    top: -2834px;
  }
}

.icon-settings {
  width: 18px;
  height: 18px;
  &::before {
    left: -20px;
    top: -6050px;
  }
}

.icon-print {
  width: 18px;
  height: 18px;
  &::before {
    left: -40px;
    top: -10444px;
  }
}
.icon-offline {
  width: 18px;
  height: 18px;
  &::before {
    left: -26px;
    top: -12234px;
  }
}
.icon-version-history {
  width: 18px;
  height: 18px;
  &::before {
    left: 0;
    top: -6638px;
  }
}
.icon-spreadsheet-green {
  width: 18px;
  height: 18px;
  &::before {
    left: -46px;
    top: -7566px;
  }
}
.icon-paintbrush {
  width: 18px;
  height: 18px;
  &::before {
    left: -20px;
    top: -2814px;
  }
}
.icon-globe {
  width: 18px;
  height: 18px;
  &::before {
    left: 0;
    top: -2582px;
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
.icon- {
  width: 18px;
  height: 18px;
  &::before {
  }
}
