* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

:root {
  --header-height: 60px;
  --toolbar-height: 40px;
  --formula-bar-height: 30px;
  --bottom-bar-height: 45px;
  --cell-height: 25px;
  --cell-width: 100px;
  --grid-height: calc(
    100% -
      calc(
        var(--header-height) + var(--formula-bar-height) +
          var(--bottom-bar-height) + var(--toolbar-height)
      )
  );
  --row-height: 25px;
  --col-width: 46px;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Open-Sans", sans-serif;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ql-editor {
  outline: none;
}

.ql-clipboard {
  outline: none;
  display: none;
  pointer-events: none;
}
