@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-SemiBold";
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Medium";
  src: url("../fonts/open-sans/OpenSans-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
  font-display: swap;
}
