@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 60px;
  --toolbar-height: 50px;
  --bottom-bar-height: 36px;
  --grid-width: 100%;
  --grid-height: calc(
    100% -
      calc(
        var(--header-height) + var(--bottom-bar-height) + var(--toolbar-height)
      )
  );
}

* {
  @apply m-0 p-0 box-border;
}

html {
  @apply h-full;
}

body {
  @apply font-regular h-full;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

button:disabled {
  @apply opacity-50;
}

#root {
  @apply h-full;
}

.ql-editor {
  @apply w-full h-full outline-none font-regular;
}

.ql-clipboard {
  @apply hidden;
}

.loader {
  @apply flex w-9 h-9 border-[5px] border-light-green border-b-transparent rounded-full animate-spin;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}
